{% extends 'cafe/base.html' %}

{% block title %}
    Ошибка
{% endblock %}

{% block content %}
    <div class="container">
        <section>
            <div class="row">
                <div class="col text-center">
                    <h1>Ошибка</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ error }}
                </div>
            </div>
        </section>
    </div>
{% endblock %} 