{% extends 'cafe/base.html' %} 

{% block title %}
    Создание заказа
{% endblock %}

{% block content %}
    <div class="container">
        <section>
            <div class="row">
                <div class="col text-center">
                    <h1>Создание заказа</h1>
                    <hr>
                </div>
            </div>
            <br>
            <div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <input type="submit" class="btn btn-outline-success" value="Создать"/>
                </form>
            </div>
        </section>
    </div>
{% endblock %}